.login-container{
    display: flex;
    justify-content: center;
    text-align: center;  
    background: url(https://codingmasterweb.com/wp-content/uploads/2021/12/Copy-of-Copy-of-for-thumbnail-1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
.rectangle{
    background: #ffffff;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.6);
    margin-top: 100px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 393px;
    height: 400px;
}
.login-image{
    width: 329px;
    height: 400px;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.6);
    margin-top: 100px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    left: 0px;
    top: 0px;
}
.login-page{
    margin-top: 10px;
}

#username, #password{
    margin-left: 25px;    
    width: 25vw;
}
.forbid-container{
    display: flex;
    justify-content: center;
    text-align: center;  
    background: url(https://thumbs.dreamstime.com/b/forbidden-sign-transparent-background-vector-illustration-isolated-110093319.jpg);
    background-size: 152px;
    height: 100%;
}
#stop{
    width: 300px;
}