.login-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.rectangle{
    background: #ffffff;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 393px;
    height: 400px;
}
.login-image{
    width: 329px;
    height: 400px;
    left: 0px;
    top: 0px;
}
.login-page{
    margin-top: 10px;
}

#username, #password{
    margin-left: 25px;    
    width: 25vw;
}